body {
  margin: 0%;
}

.navbar {
  background-color: white;
  padding: 1% 5%;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar img {
  padding-right: 5%;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 70%;
  height: 50%;
  font-size: 14px;
}

.search-bar{
  margin: auto;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.right-icons button {
  background-color: #1966ff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 70px;
  height: 35px;
}

.section {
  background-color: #f1f1f1;
  height: 50%;
  padding: 0;
}
