body {
  margin: 0%;
}

.navbar {
  background-color: white;
  padding: 1% 2%;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar img {
  display: flex;
  align-items: center;
}

.navbar img#menu-icon {
  padding-right: 2%;
}
.search-bar input {
  width: 70%;
  height: 50%;
  font-size: 14px;
}

.search-bar {
  margin: auto;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar > button > img {
  padding: 0 15px;
}

.right-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.right-icons button {
  background-color: #1966ff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 70px;
  height: 35px;
}

.section {
  background-color: #f1f1f1;
  height: 50%;
  padding: 0;
}

.video-section {
  margin-top: 2%;
}

iframe {
  width: 100%;
  height: 450px;
}

.video-section h3 {
  padding: 0 25px;
  font-size: 25px;
  margin: 5px 0px 0px 0px;
  letter-spacing: 1px;
}

.hashtag {
  color: #4586DC;
  padding: 5px 0px 0px 25px;
  margin: 0;
}

main {
  display: flex;
}

.video-owner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  height: 60px;
  margin-top: 15px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile p {
  margin: 3px 0px;
  font-size: 15px;
}

.name-of-channel {
  font-weight: bold;
}

.number-of-subscribers {
  color: gray;
  font-size: 10px;
}

.subscribe-button {
  background-color: red;
  color: white;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
}

.video-related-info {
  display: flex;
  justify-content: space-between;
  border-bottom: solid gray 2px;
  color: gray;
  align-items: center;
}

.number-of-views {
  padding-left: 25px;
}

.video-related-buttons {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-related-buttons img {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  padding-left: 10px;
}

.video-related-info p {
  margin: 0;
}

.special-border-bottom {
  border-bottom: solid #4586DC 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px 9px 0px;
}

section {
  width: 60%;
}

aside {
  width: 40%;
}

.thumbnails-videos {
  display: flex;
  margin: 3%;
}

.thumbnails-videos .right-side {
  margin: 0 2%;
}

.thumbnails-videos .right-side > p {
  font-weight: bold;
  font-size: 20px;
}

.thumbnails-videos p {
  margin: 0;
}

.thumbnails-videos .right-side .subtitles {
  color: gray;
}
